# Idea´s
.vscode/*

# NodeJS
node_modules/*

# Secret
*.env

# Sass
*.css.map

# Testing Features
src/test/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Github/Git
.git/*