@mixin ConfigInput {
  $ball-size: 15.1px;
  $bg-color: oklch(92.9% 0.013 255.508);
  background-color: $bg-color;
  width: $ball-size;
  height: $ball-size;
  border-radius: 50%;
  cursor: pointer;
}

@mixin InputPrefence {
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      @include ConfigInput();
    }

    &::-moz-range-thumb {
      @include ConfigInput();
    }
  }
}

input.no-focus:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
  border: none;
}

@mixin InputRange {
  input[type="range"].input-\[range-blue\] {
    border-radius: 10px;
    transition: background 0.3s ease;

    &::-webkit-slider-runnable-track {
      height: 8px;
      border-radius: 4px;
    }

    &::-moz-range-track { /* To Firefox */
      height: 8px;
      border-radius: 4px;
    }

    &:focus::-webkit-slider-thumb {
      background-color: white;
      border-color: rgba(0, 0, 0, 0.65);
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    &::-moz-range-thumb { /* To Firefox */
      background-color: white;
      border-color: rgba(0, 0, 0, 0.65);
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }
  }
}

@mixin InputText {
  input[type="text"].input-\[text-default\] {
    width: 100%;
    border-radius: 10px;
  }
}